asgiref==3.2.10
attrs==20.2.0
decorator==4.4.2
Django==3.1.1
django-snippet==1.0.1
djangorestframework==3.11.1
jsonschema==3.2.0
pyrsistent==0.17.3
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
validator-collection==1.4.2
validators==0.18.1
